{
    "env": {
        "es6": true
    },
    "globals": {
        "browser": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "no-unused-vars": ["error",{"vars":"all","args":"after-used"}],
        "one-var-declaration-per-line": "off",
        "no-console": 1,
        "quotes": [2,"single"],
        "no-var": 2,
        "no-inner-declarations": 2,
        "no-empty": 1,
        "no-duplicate-case": 2,
        "no-unreachable": 2,
        "no-empty-function": 2,
        "indent": ["error", 4],
        "semi": ["error", "always"],
        "space-before-blocks": "error",
        "space-in-parens": "error",
        "comma-spacing": ["error", {"before": false, "after": true}],
        "no-multi-spaces": ["error"],
        "no-process-env": "error",
        "no-process-exit": "error",
        "no-trailing-spaces": "error"  
    }
}